.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  color: aliceblue;
  background-color: rgb(13, 91, 165);
}
.footer__left-content {
  display: flex;
}
.footer__details {
  display: flex;
}
